<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>1st page</title>
</head>
<body>
{{>header}}
<span>
	<i><b>My name is Raktim and I'm a web developer</b></i>
</span>

	{{>footer}}

</body>
</html>