<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>1st page</title>
</head>
<body>
{{>header}}
<span>
	<i><b>You're welcome to my new webpage created using Nodejs</b></i>
</span>
	{{> footer}}

</body>
</html>